@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(circle, #6cacec 10%, #2311a8 52%, #8d8dc1 68%);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding-bottom: 2.5em;
}


/*estilo de la caja con efecto glass*/

.glass-container {
    position: relative;
    display: grid;
    width: 75%;
    height: fit-content;
    min-height: auto;
    padding: 30px 45px;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.0px);
    border-radius: 20px;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}


/*estilos de barra de navegación*/

.navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: 'Josefin Sans', serif;
    flex-wrap: wrap;
}

.navbar .logo {
    color: #2f2e41;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Redressed', cursive;
    font-size: 38px;
    letter-spacing: 3px;
    cursor: pointer;
}

.navbar .logo span {
    color: #9a533d;
    text-transform: uppercase;
}

.navbar .list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
}

.navbar .list li a {
    position: relative;
    display: flex;
    font-weight: bolder;
    color: #9a533d;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: border 300ms linear;
}

.navbar .list li a:hover {
    border-color: #9a533d;
}

.navbar .social-media-icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    right: 2%;
    top: 2%;
}

.navbar .social-media-icons a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 25px;
    height: 25px;
    background-color: #9a533d;
    color: #fff;
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 0.5s;
    border-radius: 50%;
}


/*final de estilos barra de navegación*/


/*inicio estilos de footer*/

.footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100px;
    border: 1px solid black;
    background: black;
    backdrop-filter: blur(5.0px);
    z-index: 1;
    font-family: 'Josefin Sans', serif;
    margin-top: 0;
}

.footer-column {
    flex: 20%;
    max-width: 25%;
    padding: 0 4px;
    vertical-align: middle;
}

.footer-column .fas {
    margin-right: 10px;
}

.footer .widget-title {
    text-align: center;
    margin-top: 2%;
    font-style: italic;
    color: #9a533d;
    font-weight: 650;
    width: 100%;
    text-decoration: underline;
}

.footer .text-widget,
.footer .text-widget a {
    color: white;
    text-decoration: none;
}


/*ICONOS FOOTER*/

.footer .social-media-icons {
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: center;
}

.footer .social-media-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: #2f2e41;
    color: #fff;
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 0.5s;
    border-radius: 50%;
}


/*BUTTON NEWSLETTER*/

.button {
    position: relative;
    display: flex;
    margin-top: 5%;
    margin-left: 15%;
    border: 1px solid black;
    color: white;
    background: #9a533d;
    border-radius: 10px;
    padding: 8px 24px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', serif;
    transition: color 300ms, background 300ms, border 300ms linear;
}

.button:hover {
    color: white;
    border: 1px solid #9a533d;
    background: #bc8775;
}

.form-popup {
    display: none;
    position: fixed;
    border-radius: 30px;
    border: 1px solid black;
    z-index: 9;
    right: 5px;
    bottom: 10px;
}

.form-container {
    max-width: 15%;
    min-width: fit-content;
    padding: 10px;
    background-color: #d2b8af;
    border-radius: 30px;
    font-family: 'Josefin Sans', serif;
}

.form-container input[type=text] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 3px;
}

.form-container .inputfield-terms {
    margin-bottom: 5px;
}

.form-container .btn {
    background-color: #28ad2d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    transition: 0.5s;
    border-radius: 5px;
}

.form-container .btn:hover {
    background-color: #92f595;
}

.form-container .cancel {
    background-color: red;
}

.form-container .cancel:hover {
    background-color: rgb(130, 0, 0);
}


/*final de estilos barra de navegación*/


/*INICIO DE ESTILOS DEL CONTENIDO index.html*/

.content {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 5%;
}


/* Estilos imagen de perfil*/

.content-right {
    position: relative;
    max-width: 40%;
    width: 425px;
    height: 375px;
    padding: 5% 0 0 5%;
}

.content-right .box-profile {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;
}

.content-right .box-profile img {
    max-width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.content-right .box-profile img:hover {
    transform: scale(1.2);
    filter: brightness(30%);
}

.content-right .social-media-icons {
    position: absolute;
    left: 0;
    bottom: 0;
}

.content-right .social-media-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: #2f2e41;
    color: #fff;
    opacity: 0.8;
    transform: translate(-50px, -50px);
    transition: transform 0.3;
}


/*ICONOS DENTRO HOVER FOTO PERFIL*/

.social-media-icons a:hover {
    color: #2f2e41;
    background-color: #9a533d;
}

.social-media-icons a:first-child {
    transition-delay: 0.1s;
}

.social-media-icons a:nth-child(2) {
    transition-delay: 0.2s;
}

.social-media-icons a:nth-child(3) {
    transition-delay: 0.3s;
}

.social-media-icons a:nth-child(4) {
    transition-delay: 0.4s;
}

.social-media-icons a:last-child {
    transition-delay: 0.5s;
}

.box-profile:hover .social-media-icons a {
    transform: translate(0);
}

.box-profile:hover .social-media-icons a:first-child {
    transition: transform 0.3s 0.6s, background-color 1s, color 1s;
}

.box-profile:hover .social-media-icons a:nth-child(2) {
    transition: transform 0.3s 0.7s, background-color 0.3s, color 0.5s;
}

.box-profile:hover .social-media-icons a:nth-child(3) {
    transition: transform 0.3s 0.8s, background-color 0.3s, color 0.5s;
}

.box-profile:hover .social-media-icons a:nth-child(4) {
    transition: transform 0.3s 0.9s, background-color 0.3s, color 0.5s;
}

.box-profile:hover .social-media-icons a:last-child {
    transition: transform 0.3s 1s, background-color 0.3s, color 0.5s;
}

.box-profile p {
    position: absolute;
    color: #fff;
    opacity: 0;
    font-family: 'Josefin Sans', serif;
    letter-spacing: 1px;
    bottom: 10px;
    left: 50px;
    transition: all 0.5;
    transition-delay: 0.5s;
    text-transform: capitalize;
    font-size: 25px;
}

.box-profile p span {
    color: #9a533d;
    font-weight: bolder;
    font-family: 'Redressed', cursive;
}

.box-profile:hover p {
    opacity: 1;
    transition-duration: 2s;
    transition-delay: 1s;
    font-family: 'Redressed', cursive;
}


/*Div del titulo*/

.content-left {
    position: relative;
    max-width: 60%;
    font-family: 'Josefin Sans', serif;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0 15% 0 5%;
}

.content-left .title {
    position: relative;
    margin-top: 40px;
}

.content-left .title h1 {
    color: #2f2e41;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 3rem;
    font-family: 'Josefin Sans', serif;
    font-style: italic;
}

.content-left .title h1 span {
    font-size: 40px;
    color: #9a533d;
    font-family: 'Redressed', cursive;
    font-style: italic;
}

.light {
    font-weight: bolder;
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    text-transform: capitalize;
    color: #9a533d;
    font-family: 'Josefin Sans', serif;
    letter-spacing: 4px;
}

.content-left .title .light {
    align-items: left;
    align-content: left;
    text-align: left;
    left: 0;
}

.title .light span {
    font-size: 1.5em;
    color: #9a533d;
    font-family: 'Redressed', cursive;
}


/*estilo de boxes servicios */

.services-title .light {
    padding: 0px 30px;
    text-decoration: underline;
    align-items: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}

.services-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    width: 30%;
    height: 280px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px black;
    margin: 10px;
    border-radius: 10px;
    background-color: #2f2e41;
    color: #fff;
    align-items: center;
    align-content: center;
}

.box img {
    max-width: 100%;
    height: 100%;
    transition: all 0.5s;
    border-radius: 15px;
}

.box .box-title {
    text-align: center;
    color: #9a533d;
    padding: 0;
}

.box-content {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    /*hasta aquí para centrar el cuadro con texto dentro del box*/
    width: 275px;
    height: 265px;
    background-color: #2f2e41;
    color: #fff;
    flex-direction: column;
    clip-path: circle (0% at 50% 50%);
    transition: all .5s;
    max-width: 0;
    opacity: 0;
    /*hasta aquí para definir los parámetros del cuadro de texto y ocultarlo previo hover*/
}


/*parámetros del hover en boxes*/

.box:hover .box-content {
    clip-path: circle(100% at 50% 50%);
    opacity: 1;
    max-width: 100%;
    border-radius: 10px;
}

.box:hover img {
    filter: blur(10px);
    border-radius: 10px;
    transform: scale(1.2);
    filter: brightness(50%);
}

.box:hover .box-title {
    display: none;
}


/*estilo del texto y titulo del box-content*/

.box-content .box-hovertitle {
    text-align: center;
    margin-bottom: 5px;
    color: #9a533d;
    font-weight: 650;
}

.box-content p {
    margin: 5px 10px 0 10px;
    text-align: justify;
    font-weight: normal;
}


/*FIN DE ESTILOS DEL CONTENIDO index.html*/


/*INICIO DE ESTILOS DEL CONTENIDO portfolio.html*/


/*Titulo galeria*/

.gallery-title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', serif;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    padding-top: 5%;
}

.gallery-title h1 {
    display: flex;
    color: #9a533d;
    font-family: 'Josefin Sans', serif;
    letter-spacing: 4px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
}


/*Contenedor galeria*/

.gallery-container {
    display: flex;
    flex-wrap: wrap;
}

.gallery-image {
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 1s;
    margin-top: 25px;
    text-decoration: none;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 5%;
}

.gallery-image img {
    display: block;
    max-width: 100%;
}

.gallery-image p {
    text-decoration: none;
    font-family: 'Josefin Sans', serif;
    color: white;
}


/*desplazamiento de imagenes en eje X cuando focus y hover*/

.gallery-container:focus-within .gallery-image,
.gallery-container:hover .gallery-image {
    transform: translateX(-10%)
}

.gallery-image:focus~.gallery-image,
.gallery-image:hover~.gallery-image {
    transform: translateX(10%)
}


/*definición evento hover y focus*/

.gallery-container .gallery-image:focus,
.gallery-container .gallery-image:hover {
    transform: scale(1.2);
    z-index: 1;
}


/*FIN DE ESTILOS DEL CONTENIDO portfolio.html*/


/*INICIO DE ESTILOS DEL CONTENIDO presupuesto.html*/

.wrapper {
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background: #1e1b35;
    border-radius: 10px;
}


/*estilos del titulo y descripción de la sección*/

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #9a533d;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Josefin Sans', serif;
}

.wrapper .description-wrapper p {
    margin: 5px 10px 20px 10px;
    text-align: justify;
    font-weight: 650;
    color: #757575;
    font-family: 'Josefin Sans', serif;
}


/*Estilos del formulario*/

.wrapper .form {
    width: 100%;
}

.wrapper .form .inputfield {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', serif;
}

.wrapper .form .inputfield label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-weight: 650;
    font-family: 'Josefin Sans', serif;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea,
.wrapper .form .inputfield .custom_select select {
    width: 100%;
    outline: none;
    border: 2px solid #9a533d;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    font-family: 'Josefin Sans', serif;
}


/*He añadido lo siguiente ya que no lograba cuadrar el tamaño del .custom_select de otro modo*/

.wrapper .form .inputfield .custom_select {
    position: relative;
    width: 107%;
    height: auto;
}

.wrapper .form .inputfield p a {
    font-size: 14px;
    color: #757575;
    text-decoration: #9fa2a1;
    font-family: 'Josefin Sans', serif;
}


/*Estilos del checkbox para aceptar terminos y condiciones*/

.wrapper .form .inputfield .check {
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.wrapper .form .inputfield .check .checkmark {
    width: 15px;
    height: 15px;
    border: 1px solid #9a533d;
    display: block;
    position: relative;
}


/*Con el siguiente estilo conseguimos cuadrar el checkbox diseñado sobre el original blanco*/

.wrapper .form .inputfield .check input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}


/*estilos para que aparezca el checked blanco*/

.wrapper .form .inputfield .check .checkmark:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
    /*display:none hacemos que la flecha check quede sin visualizar en caso de no checked*/
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked~.checkmark {
    background: #9a533d;
    /*Color de fondo del checkbox:checked*/
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked~.checkmark:after {
    display: block;
    /*esto permite que aparecha la flecha check al clicar en la casilla*/
}


/*Estilos del button "Enviar"*/

.wrapper .form .inputfield .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #9a533d;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .inputfield .btn:hover {
    background: #bc8775;
}

.wrapper .form .inputfield:last-child {
    margin-bottom: 0;
}


/*FIN DE ESTILOS DE presupuesto.html*/


/*INICIO ESTILOS DE contacto.html */

.find-us {
    position: relative;
    display: grid;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background: #1e1b35;
    border-radius: 10px;
}


/*estilos del titulo y descripción de la sección*/

.find-us .map-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #9a533d;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Josefin Sans', serif;
}

.find-us .map img {
    width: 100%;
}